body {
    background-color: #e9ebee;
    background-image: url('../images/patient-register.jpg') !important;
    background-size: cover !important;
}

.card {
    margin-top: 1em;
}

/* IMG displaying */
.person-card {
    margin-top: 5em;
    padding-top: 5em;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 8em;
    position: absolute;
    top: -4em;
    left: 10% !important;
    margin-left: -5em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}